.header {
    display: flex;
    background-color: #0D0D0D;
    color: #F2F2F2;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 33%;
    font-size: 200%;
}
  